@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <div class="main">
        <div class="top-row px-4">
            <a href="Counter" target="_blank">О нас</a>
            <a href="http://blazor.net" target="_blank">Запись</a>
            <a href="http://blazor.net" target="_blank">Услуги</a>
            <a href="http://blazor.net" target="_blank">Отделения</a>
            <a href="http://blazor.net" target="_blank">Мы в вк<img href="#"</a>
            <a href="http://blazor.net" target="_blank">Мы в Instagramm</a>
            <a href="http://blazor.net" target="_blank">Мы в Telegram</a>
        </div>

            @Body
             <div class="name">
        <p class="title">Наша хирургия</p>
        </div>
    </div>
</div>
