@page "/about"
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.98.0">
<title>Blog Template · Bootstrap v5.2</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">





<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="blog.css" rel="stylesheet">

<div class="container">
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center">
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
        </div>
    </header>
</div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Операции-это не страшно</h1>
            <p class="lead my-3">Лучшие хирурги являются неотъемлимой частью нашей семьи, благодаря чему вы можете довериться им</p>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                По данным археологических раскопок ещё в VI—VII вв. до н. э. в разных странах выполнялись такие операции, как трепанация черепа, удаление камней из мочевого пузыря, наложение шин при переломах конечностей. Сведения о медицинских манипуляциях в более отдаленный период времени пока не найдены, поэтому в настоящее время можно судить лишь о хирургии не старше 7 тысяч лет до н. э. К этому времени относятся найденные костные и мумифицированные останки древних людей с признаками медицинских манипуляций. По повреждениям можно судить о том, что наши предки умели останавливать кровотечения с помощью наложения тугих повязок, заливания ран горячим маслом и засыпания их золой. Древние врачи производили ампутацию конечностей, кастрацию. Для перевязок использовали подручный материал: сухие листья и мох.

                Более подробные сведения о хирургии относятся уже к III—II тысячелетию до н. э. и содержатся письменных источниках, найденных на территории Египта, Китая и Индии[1]. Наиболее известными из них являются древнеегипетские папирусы Смита и Эберса. Папирус Смита, датируемый XVI в. до н. э., целиком посвящен хирургии. Авторство этого текста приписывается древнеегипетскому архитектору и естествоиспытателю Имхотепу, верховному жрецу Ра в Гелиополе, который позже был обожествлен и почитался в качестве бога врачевания. Имхотеп считается основателем египетской медицины, и возможно именно он является автором текста, который датируется 3000-2500 гг. до н. э., и к которому несколько веков спустя были добавлены пояснения и примечания.<br />

                II. Вторая половина XIX в
                Появление антисептики (Джозеф Листер, 1867) и асептики (Эрнст фон Бергманн, 1890). В этот период рождается множество новых хирургических доступов, открывших возможность выполнения новых операций: холецистэктомия (1892), отработаны методы дренирования брюшной полости,<br />

                III. Первая половина XX в
                Период можно охарактеризовать как «конвейеризация» хирургии: массовое появление специализированных хирургических клиник широкого профиля, например Клиника Мэйо и Кливлендская клиника в США.<br />

                IV. Вторая половина XX в. — начало XXI в
                Эпоха отмечена внедрением достижений научно-технического прогресса в клиническую практику практической хирургии. Использование новых материалов (сплавы, пластики, композиционные материалы), новых методов диагностики (МРТ, компьютерная томография) и хирургического доступа (лапароскопия) привели к радикальному снижению смертности на операционном столе, и послеоперационных осложнений.<br />

                Новые шовные материалы для соединения сосудов и появление иммуносупрессоров сделали возможным трансплантологию.
            </h3>
        </div>
    </div>

</main>
