@page "/index"

<h1>Hello, world!</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-black">slkdflksdflk</h1>
            </div>
        </div>
    </div>