@page "/personal"
<h3>Персонал</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Квалификация</th>
            <th scope="col">Паспортные данные</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Роман</td>
            <td>Другов </td>
            <td>хирургия глаза</td>
            <td>4420 513863</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Нина</td>
            <td>Павловна</td>
            <td>сердечно - сосудистая хирургия</td>
            <td>4050 389709</td>
        </tr>
    </tbody>
</table>
