@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@
    <div class="main">
        <div class="container" style="background-color:aliceblue">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                    <span class="fs-4"></span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" style="color: #F24C4C;background:none;">Домой</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link" style="color: #F24C4C;">О нас</a></li>
                    <li class="nav-item"><a href="/services" class="nav-link" style="color: #F24C4C;">Услуги</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color: #F24C4C;">Отделения</a></li>
                    <li class="nav-item"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav-link" style="color: #F24C4C;">Что-то еще</a></li>
                    <li class="nav-item"><a href="/personal" class="nav-link" style="color: #F24C4C;">Персонал</a></li>
                </ul>
            </header>

        </div>
        @Body
    </div>
</div>
